 
body, h1, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
   
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
 
  .Header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
   
  .FormWala {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .UrlForm {
    display: flex;
    flex-direction: column;
  }
  
 
  .UserField,
  .PasswordField,
  .PhoneField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  body, h1, p, ul, li, form, table, th, td {
    margin: 0;
    padding: 0;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
  }
 
  .Header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
 
  .UrlShortnerForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  .InputControl {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
 
  .btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  
 
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
 
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
   
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
   
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
